@font-face {
  font-family: unisans;
  src: url(uniSans.ttf);
  font-weight: 400;
}
@font-face {
  font-family: unisans;
  src: url(unisansbold.ttf);
  font-weight: 600;
}
html,
body {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: unisans;
  color: #343434;
}
.conteudo {
  line-height: 24px;
}
.conteudo span {
  font-weight: 600;
}
.center {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1270px;
}
@media (max-width: 1210px) {
  .center {
    width: 90%;
  }
}
@media (max-width: 1078px) {
  .center {
    width: 98%;
  }
}
@media (max-width: 990px) {
  .center {
    width: 100%;
  }
}
.branco {
  background-color: #fff;
}
.cinza {
  background-color: #F4F4F4;
}
.verde {
  background-color: #0F4032;
}
.blue {
  color: #11B7D4;
}
.clear {
  clear: both;
}
section.webdoor {
  position: relative;
  display: block;
  width: 100%;
  min-height: 350px;
  padding-top: 45px;
  padding-bottom: 40px;
  color: #fff;
  background: url("../images/bgWebdoor.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  section.webdoor {
    background: url("../images/bgWebdoorMobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
section.webdoor .left {
  position: relative;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  left: 3%;
}
@media (max-width: 768px) {
  section.webdoor .left {
    width: 85%;
    margin: 40% auto;
    display: block;
    left: auto;
  }
}
section.webdoor .left .logoTopo {
  width: 80%;
  max-width: 500px;
}
section.webdoor .left h3 {
  color: #1FD6F6;
  font-size: 22px;
}
section.webdoor .left .wrapInfos {
  position: absolute;
  display: block;
  width: 100%;
  bottom: -110px;
}
section.webdoor .left .wrapInfos .data {
  position: relative;
  display: inline-block;
  width: 42%;
}
@media (max-width: 768px) {
  section.webdoor .left .wrapInfos .data {
    width: 100%;
    display: block;
  }
}
section.webdoor .left .wrapInfos .data img {
  position: relative;
  top: 5px;
  left: -8px;
}
section.webdoor .left .wrapInfos .local {
  position: relative;
  display: inline-block;
  width: 56%;
}
@media (max-width: 768px) {
  section.webdoor .left .wrapInfos .local {
    width: 100%;
    display: block;
  }
}
section.webdoor .left .wrapInfos .local img {
  position: relative;
  top: 5px;
  left: -8px;
}
section.webdoor .right {
  position: relative;
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
@media (max-width: 768px) {
  section.webdoor .right {
    display: none;
  }
}
section.webdoor .right .dias {
  position: relative;
  width: 200px;
  float: right;
  top: 20px;
  border-radius: 5px;
  background: #FFF;
  color: #000;
  padding: 20px;
  line-height: 0px;
}
@media (max-width: 768px) {
  section.webdoor .right .dias {
    display: none;
  }
}
section.webdoor .right .dias .textoComum {
  color: #343434;
  font-family: unisans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  section.webdoor .right .dias .textoComum {
    display: inline-block;
    width: 30%;
    line-height: 20px;
  }
}
section.webdoor .right .dias .textoComum.texto1 {
  margin-bottom: -5px;
}
section.webdoor .right .dias .textoComum.texto2 {
  margin-top: -5px;
}
section.webdoor .right .dias .wrapContagem {
  color: #343434;
  font-family: unisans;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
@media (max-width: 768px) {
  section.webdoor .right .dias .wrapContagem {
    display: inline-block;
    width: 30%;
    margin-left: -50px;
    line-height: 20px;
  }
}
section.webdoor .right .dias .wrapContagem #contagemDias {
  color: #11B7D4;
}
section.sobreTema {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #F4F4F4;
}
section.sobreTema .left {
  position: relative;
  display: inline-block;
  width: 40%;
  height: auto;
  vertical-align: top;
  padding: 30px;
  background-color: #fff;
  z-index: 1;
  padding-right: 50px;
}
@media (max-width: 768px) {
  section.sobreTema .left {
    width: 85%;
    margin: 0 auto;
    display: block;
    height: auto;
  }
}
section.sobreTema .left:before {
  content: "";
  position: absolute;
  width: 500px;
  background-color: #fff;
  height: 100%;
  z-index: -1;
  left: -400px;
  top: 0;
}
section.sobreTema .left h2 {
  color: #0F4032;
}
section.sobreTema .left h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.sobreTema .right {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 750px;
  vertical-align: top;
  padding: 30px;
  padding-left: 80px;
}
@media (max-width: 768px) {
  section.sobreTema .right {
    width: 85%;
    margin: 0 auto;
    display: block;
    padding-left: 30px;
    height: auto;
  }
}
section.sobreTema .right h2 {
  color: #0F4032;
}
section.sobreTema .right h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.pesquisaInscricoes {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #0F4032;
}
section.pesquisaInscricoes .left {
  position: relative;
  display: inline-block;
  width: 40%;
  padding: 30px;
  padding-right: 50px;
  padding-bottom: 0;
  color: #fff;
  vertical-align: top;
}
@media (max-width: 768px) {
  section.pesquisaInscricoes .left {
    width: 85%;
    margin: 0 auto;
    display: block;
    height: auto;
    padding-bottom: 20px;
  }
}
section.pesquisaInscricoes .left h2 {
  color: #fff;
}
section.pesquisaInscricoes .left h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.pesquisaInscricoes .right {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 750px;
  background-color: #fff;
  vertical-align: top;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  section.pesquisaInscricoes .right {
    width: 85%;
    margin: 0 auto;
    display: block;
    height: auto;
    padding-top: 10px;
  }
}
section.pesquisaInscricoes .right h2 {
  color: #0F4032;
}
section.pesquisaInscricoes .right h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.pesquisaInscricoes .right:after {
  content: "";
  position: absolute;
  width: 800px;
  background-color: #fff;
  height: 100%;
  z-index: -1;
  left: 400px;
  top: 0;
}
section.pesquisaInscricoes .right button {
  position: relative;
  padding: 20px;
  width: 100%;
  margin: 30px auto 20px auto;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 600;
  background: #fff;
}
@media (max-width: 768px) {
  section.pesquisaInscricoes .right button {
    width: 80%;
  }
}
section.pesquisaInscricoes .right button:hover {
  color: #0F4032;
  background: #11B7D4;
  transition: all 0.4s;
}
section.programacao {
  position: relative;
  display: block;
  background: #F4F4F4;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  section.programacao {
    text-align: left;
  }
}
section.programacao h2 {
  text-align: left;
  color: #0F4032;
}
section.programacao h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.programacao .conteudo {
  text-align: left;
}
section.programacao .coluna {
  position: relative;
  display: inline-block;
  width: 370px;
  max-width: 98%;
  margin: 0 auto;
  margin-right: 5%;
  margin-left: 5%;
  vertical-align: top;
  border-radius: 2px;
  border: 2px solid #084259;
  text-align: left;
  color: #343434;
}
@media (max-width: 768px) {
  section.programacao .coluna {
    width: 85%;
    margin: 0 auto 20px auto;
    display: block;
    height: auto;
  }
}
section.programacao .coluna .datas {
  background: #11B7D4;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
}
section.programacao .coluna .linha {
  padding: 10px;
}
section.programacao .coluna .linha .periodo {
  color: #0F4032;
  font-weight: 600;
  line-height: 40px;
}
section.submissao {
  position: relative;
  display: block;
  background: #0F4032;
  color: #fff;
  padding: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  section.submissao {
    padding-bottom: 40px;
  }
}
section.submissao h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.submissao button {
  position: relative;
  padding: 20px;
  width: 45%;
  margin: 30px 20px;
  color: #949494;
  text-transform: uppercase;
  background: #F4F4F4;
  border: 12x solid #F4F4F4;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  section.submissao button {
    margin-bottom: 0;
    width: 80%;
  }
}
section.localHospedagem {
  position: relative;
  display: block;
  width: 100%;
  background: #F4F4F4;
}
section.localHospedagem .left {
  position: relative;
  display: inline-block;
  width: 42%;
  height: auto;
  min-height: 600px;
  vertical-align: top;
  padding: 30px;
  background-color: #fff;
  z-index: 1;
  padding-right: 50px;
}
@media (max-width: 768px) {
  section.localHospedagem .left {
    width: 85%;
    margin: 0 auto;
    display: block;
    min-height: auto;
    height: auto;
    padding-bottom: 50px;
  }
}
section.localHospedagem .left:before {
  content: "";
  position: absolute;
  width: 500px;
  background-color: #fff;
  height: 100%;
  z-index: -1;
  left: -400px;
  top: 0;
}
section.localHospedagem .left h2 {
  color: #0F4032;
}
section.localHospedagem .left h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.localHospedagem .right {
  position: relative;
  display: inline-block;
  width: 40%;
  height: auto;
  vertical-align: top;
  padding: 30px;
  padding-left: 50px;
  z-index: 1;
}
@media (max-width: 768px) {
  section.localHospedagem .right {
    width: 85%;
    margin: 0 auto;
    display: block;
    height: auto;
  }
}
section.localHospedagem .right h2 {
  color: #0F4032;
}
section.localHospedagem .right h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.localHospedagem .right .innerHospedagem {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
section.localHospedagem .right .innerHospedagem .hospedagem {
  position: relative;
  display: inline-block;
  width: 45%;
  vertical-align: top;
  background: url("../images/maskGroup.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 130px;
}
section.localHospedagem .right .innerHospedagem .hospedagem .link {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 2px 2px;
  background: #11B7D4;
  color: #fff;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  transition: all 0.4s;
}
section.localHospedagem .right .innerHospedagem .hospedagem .link .statico {
  position: absolute;
  right: 20px;
  top: 5px;
}
section.localHospedagem .right .innerHospedagem .content {
  position: relative;
  display: inline-block;
  width: 44%;
  vertical-align: top;
  padding-left: 30px;
  top: 30px;
  font-weight: 100;
  line-height: 30px;
}
section.localHospedagem .right .innerHospedagem .content b {
  font-size: 20px;
}
section.rede {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #F4F4F4;
}
section.rede .conteudo {
  position: relative;
  margin: 0 auto;
  width: 750px;
  max-width: 95%;
}
section.rede .card {
  padding: 20px;
  border-radius: 2px;
  border: 0.5px solid #949494;
  background: #FFF;
  height: 180px;
}
section.rede .card .nomeRede {
  position: relative;
  width: 85%;
  margin: 0 auto 20px auto;
  top: -8px;
  text-align: center;
  font-size: 13px;
}
section.rede .card .bandeira {
  position: absolute;
  top: 8px;
  right: 8px;
}
section.rede .card .logoRede {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
section.rede .card .logoRede img {
  position: relative;
  max-width: 100%;
}
section.rede .card .acessar {
  position: absolute;
  width: 80%;
  bottom: 15px;
  text-align: center;
}
@media (min-width: 769px) {
  section.rede .wrapRede {
    position: relative;
    display: block;
    width: 100%;
  }
  section.rede .wrapRede .swiper-wrapper {
    display: block;
    height: auto;
  }
  section.rede .wrapRede .swiper-wrapper .swiper-slide {
    position: relative;
    display: inline-block;
    width: 22%;
    max-width: 250px;
    margin: 10px;
    vertical-align: top;
  }
  section.rede .wrapRede .swiper-wrapper .swiper-slide img {
    width: 100%;
    transition: all 0.4s;
  }
  section.rede .wrapRede .swiper-wrapper .swiper-slide img:hover {
    box-shadow: 5px 5px 30px #ccc;
    transition: all 0.4s;
  }
}
@media (min-width: 769px) and (max-width: 768px) {
  section.rede .wrapRede .swiper-wrapper {
    display: auto !important;
    height: auto !important;
  }
}
@media (min-width: 769px) and (max-width: 768px) {
  section.rede .wrapRede .swiper-wrapper .swiper-slide {
    width: 40%;
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 768px) {
  section.rede .wrapRede .swiper-wrapper .swiper-slide img {
    width: 40%;
  }
}
section.patrocinadores {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
section.patrocinadores h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
section.contato {
  position: relative;
  display: block;
  width: 100%;
  background: #0F4032;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  section.contato h2 {
    text-align: left;
    padding-left: 50px;
  }
}
section.contato h2 img {
  position: relative;
  top: 5px;
  left: -5px;
}
@media (max-width: 768px) {
  section.contato .conteudo {
    text-align: left;
    padding-left: 50px;
  }
}
section.contato a {
  color: #fff;
}
@media (max-width: 768px) {
  section.contato .wrapBtns {
    margin-top: -25px;
  }
}
section.contato .wrapBtns button {
  border-radius: 2px;
  border: 2px solid #FFF;
  background: transparent;
  color: #fff;
  padding: 20px;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
section.contato .wrapBtns button:hover {
  opacity: 0.8;
  transition: all 0.4s;
  box-shadow: 2px 2px 30px #222;
}
section.contato .wrapBtns button img {
  position: relative;
  top: 5px;
}
section.organizacao {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  background: #072A37;
  text-align: center;
  color: #fff;
}
section.organizacao h3 {
  font-weight: 100;
}
section.organizacao img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}
.mobile {
  position: relative;
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.mobile .dias {
  position: relative;
  width: 100%;
  top: 0;
  border-radius: 5px;
  background: #FFF;
  color: #000;
  line-height: 0px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .mobile .dias {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: 0;
    text-align: center;
  }
}
.mobile .dias .textoComum {
  color: #343434;
  font-family: unisans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}
@media (max-width: 768px) {
  .mobile .dias .textoComum {
    display: inline-block;
    width: 38%;
    line-height: 20px;
    top: -5px;
    position: relative;
  }
}
@media (max-width: 430px) {
  .mobile .dias .textoComum {
    font-size: 20px;
  }
}
.mobile .dias .textoComum.texto1 {
  margin-left: -50px;
}
.mobile .dias .wrapContagem {
  color: #343434;
  font-family: unisans;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
@media (max-width: 768px) {
  .mobile .dias .wrapContagem {
    display: inline-block;
    width: 30%;
    margin-left: -50px;
    line-height: 20px;
  }
}
@media (max-width: 430px) {
  .mobile .dias .wrapContagem {
    width: 42%;
    font-size: 40px;
  }
}
.mobile .dias .wrapContagem #contagemDias {
  color: #11B7D4;
}
.mobile .dias .wrapContagem #contagemDiasMobile {
  color: #11B7D4;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: transparent !important;
  position: relative;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: transparent !important;
  left: 33px !important;
  position: relative;
}
.swiper-scrollbar {
  position: relative !important;
  width: 50% !important;
  height: 5px !important;
  margin: 25px auto 10px auto !important;
}
@media (min-width: 768px) {
  .swiper-scrollbar {
    display: none;
  }
}
.swiper-scrollbar-drag {
  background: #11B7D4 !important;
}
@media (min-width: 769px) {
  .setaPatrocinio {
    display: none !important;
  }
  .setaPatrocinio.patrocinioLeft {
    left: 0px !important;
  }
  .setaPatrocinio.patrocinioRight {
    right: 0px !important;
  }
}
